*{
    margin:0;
    padding:0;
}
.app
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-top: 24px;
    margin-left: 9cm;
    flex-direction: column;
    border-style: solid;
    justify-content: center;
    height: 18cm;
}
.outerdiv{
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    margin: 16px;
    padding:16px;
    
}
.graphcontainer{
    display: flex;
    flex-direction: column;
    height: 10rem;
}

.topgraph{
    border: 2px solid black;
    padding: 16px;
    display: flex;  
    text-align: center;
}
.bottomgraph{
    display: flex;
    margin-top:16px;
    border: 2px solid black;
    padding: 16px;
}   
.text{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}
.form{
    border-style: solid;
    margin:70px;
}
.deviation{
    border-style: solid;
    margin-right:70px;
    margin-left:70px;
    margin-top:5px;
    margin-bottom:5px;
    height: auto;
    width: 11rem;
}
.items{
    border-style: solid;
    margin-right:70px;
    margin-left:70px;
    margin-top:5px;
    margin-bottom:5px;
    height: auto;
    width: 11rem;
    
}
.select{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-top: 70px;
    margin-left: 70px;
}
.deviation input{
    margin: 10px;
    padding: 50px;
}
.items input{
    margin: 10px;
    padding: 50px;
}
.Bar1{
    display: flex;
    border-style: solid;
    margin-bottom: 0.5cm;
    height: 5cm;
  }
.Bar2{
    border-style: solid;
  }
.Barbot{
    height: 10cm;

}
